{% extends "course_detail_cse.html" %}
{% load static %}
{% block course_detal_header %}
<h1>Information Technology</h1>
<p>Empowering the Future with Innovative Information Technology Solutions.</p>
{% endblock  %}
{% block course_detail_what_is_section %}
    <div class="course-details-cse-info">
        <p>Information Technology (IT) refers to the use of computers, networks, software, and other digital tools to store, process, transmit, and manage data. It plays a crucial role in businesses, education, healthcare, and almost every industry by enabling efficient communication, automation, and problem-solving.</p>
        <img src="{% static "computer.jpg" %}" alt="Computer Science Engineering" class="course-details-cse-image">
    </div>
{% endblock  %}
{% block course_detail_mission %}
<ul>
    <li>M1: To produce technologically competent IT diploma engineers through balanced and dynamic curriculum.</li>
    <li>M2: Provide technical expertise, training and assistance to students on advanced technologies as per the needs of the industry and changing world.</li>
    <li>M3: To produce successful IT diploma engineers with personal and professional responsibilities and commitment to lifelong learning.</li>
</ul>
{% endblock course_detail_mission %}
{% block course_detail_vision %}
<p>To impart quality education for producing highly talented IT diploma engineers with sound ethics, latest knowledge and innovative ideas in Information Technology to meet industrial needs and societal expectation.</p>
{% endblock %}
{% block course_detail_poe %}
<ul>
    <li>PEO1: To prepare students for successful careers in IT industries that meet the needs of Indian and multinational companies.</li>
    <li>PEO2: To prepare the students for software development field by making them to learn the principles of software project management to develop innovative real-world projects.</li>
    <li>PEO3: To promote awareness of cyber security to the students, so that they will be able to work in cyber security world to help the society.</li>
    <li>PEO4: To develop student’s soft skills, interpersonal skills and an understanding of multicultural and global perspectives, so that they get good carrier in multiple disciplines and rise steadily at their work place with professional ethics and codes of professional practice.  </li>
</ul>
{% endblock %}